* {
    box-sizing: border-box;
}

img{
    width: 100%;
}
.clear{
    clear: both;
}

header{
    padding-top: 15px;
    margin-bottom: 10px;

    .luli-header{
        .div-logo{
                margin-top: 20px;
            img{
                width: 35%;
                display: block;
                margin-left: auto;
            }
        }
        .form-search input[type=text] {
            padding: 2px;
            font-size: 15px;
            border: none;
            border-bottom: 1px solid black;
        }
        .form-search button {
            float: right;
            padding: 2px 10px;
            margin-right: 16px;
            background: rgba(255, 255, 255, 0);
            font-size: 15px;
            border: none;
            border-bottom: 1px solid black;
            cursor: pointer;
        }
        .form-search {
            margin-top: 5px;
            input:focus, button:focus{
                outline: none;
            }
            input{
                width: 150px;
            }
        }
        ul{
            list-style-type: none;
            display: inline;
            padding-left: 5px;

            li{
                float: left;
                border: 1px solid #c3e1d9;
                padding: 2px;
                border-radius: 50%;
                margin-right: 10px;

                a{
                    display: block;
                    padding: 5px 10px;
                    text-decoration: none;
                    color: #333;
                    background-color: #c3e1d9;
                    border-radius: 50%;
                    font-size: 16px;
                    width: 34px;
                    text-align: center;
                }
                a:hover{
                    color: red;
                }
            }
        }
    }
}

.luli-nav .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
    }
    li a{
        color: #000;
        padding: 20px 40px;
        font-weight: 600;
    }
    .active{
        background-color: #c3e1d9;
    }
}